.row

  .col-md-12

    %textarea#output.form-control{ 'replace-textarea-values'=> '',
                                   :rows => '10',
                                   "ng-model" => "previewer"}
    #hidden{"ng-hide" => "true"}
