.articles {
  .row {
    border-bottom: 1px solid $corn_silk;
    padding: 17px 0;

    .data {
      padding-left: 30px;
    }

    .inline-block {
      display: inline-block;
    }

    .actions {
      text-align: right;
      font-size: 20px;
      padding: 16px;
    }

   }

  .row-hover {
    &:hover {
      background: #fafafa;
    }
  }

  .sortable-row {
    cursor: move;
  }

}

.email-list-details {
  ul.nav-menu {

    border-bottom: 1px solid $corn_silk;
    margin-top: 18px;
    padding-bottom: 6px;
    padding-left: 0;

    .active {
      a {
        border-bottom: 1px solid $black;
        font-weight: 400;
        padding-bottom: 8px;
      }
    }

    li {
      display: inline-block;
      font-size: 15px;
      padding-right: 22px;

      a {
        color: $black;
        text-decoration: none !important;

        &:hover {
          border-bottom: 1px solid $black;
          font-weight: 400;
          padding-bottom: 8px;
        }
      }
    }
  }
}

.subscribers-list {
  .subscriber-element {
    border: 1px dashed #eee;
    padding: 10px;
    margin: 5px;

    &:hover {
      background: yellow;
      cursor: pointer;
    }

    .email {
      font-weight: bold;
    }
  }
}

.subscriber-details {
  .image {
    float: left;
    margin-right: 15px;
  }

  .title {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 39px;
    padding-bottom: 11px;
  }

  .fields {
    padding: 0px 0 11px;
    border-bottom: 1px dotted #e0e0e0;
  }
}

.follow-up-form {
  .interval-section {

    label.title {
      display: inline-block;
      margin-right: 5px;
    }

    #title {
      width: 100px;
      display: inline-block;
    }

  }
}
