%form.follow-up-form{:name => "FollowUpForm",
                            "ng-submit" => "createFollowUp()",
                            :novalidate => ""}
  .row
    .col-md-7
      .form-group{'ng-class' => "{ 'has-error': FollowUpForm.title.$invalid }"}
        %label{:for => "title"} Title
        %input#title.form-control{:type => "text",
                                  'required' => 'required',
                                  'placeholder' => 'Hello {{name}}',
                                  'name' => 'title',
                                  "ng-model" => 'follow_up.title'}/

      .form-group{'ng-class' => "{ 'has-error': FollowUpForm.content.$invalid }"}
        %label{:for => "content"} Content
        %textarea#content.form-control{ :rows => '10',
                                        'required' => 'required',
                                        'placeholder' => 'Thank you for...',
                                        'name' => 'content',
                                        "ng-model" => "follow_up.content"}
    .col-md-5.interval-section
      %h4
        Interval

      %div{'ng-show' => 'email_list.follow_ups_count == 0'}
        Follow Up # 1 is the welcome message your subscribers will get immediately after signing up.

      %div{'ng-show' => 'email_list.follow_ups_count != 0'}
        %span.form-group{'ng-class' => "{ 'has-error': FollowUpForm.days_to_be_sent_after_previous.$invalid  }"}
          %label.title{:for => "title"} Follow Up # {{email_list.follow_ups_count + 1}} sent
          %input#title.form-control{:type => "number",
                                    'ng-required' => 'email_list.follow_ups_count != 0',
                                    'name' => 'days_to_be_sent_after_previous',
                                    'ng-class' => "{ 'has-error': FollowUpForm.days_to_be_sent_after_previous.$invalid }",
                                    "ng-model" => 'follow_up.days_to_be_sent_after_previous'}/
        day(s) after previous

      %hr

      %ng-include{'ng-show' => 'email_list.follow_ups_count != 0',
                  :src => "'autoresponder/components/email_lists/details/follow_ups/send_window_preferences.html'"}

  .row
    .col-md-6
      %button{ type:'submit',
               'ng-disabled' => "FollowUpForm.$invalid",
               class: 'btn btn-success'}
        Create Follow up

      %button{ type:'button',
               'ui-sref' => 'email_list.details.follow_ups.list',
               class: 'btn btn-warning'}
        Cancel



