.articles
  .row
    %button{class: 'btn btn-success pull-right', 'ui-sref' => 'email_list.details.follow_ups.add'}
      Create message

  .follow-ups{'ui-sortable' => "sortableRows", 'ng-model' => 'follow_up_messages' }
    .row{class: 'span12 sortable-row row-hover', "ng-repeat" => "message in follow_up_messages"}
      .col-md-5
        %h4
          {{message.title}}
        %p {{message.created_at}}

      .col-md-4
        .data.inline-block{"aria-hidden" => "true"}
          %h4 0
          %p.dim-el Opened
        .data.inline-block{"aria-hidden" => "true"}
          %h4 0.0%
          %p.dim-el Opens

      .col-md-3.actions
        .btn-group
          %button.btn.btn-default{:type => "button",
                                  'ui-sref' => 'email_list.details.follow_ups.edit({ followUpId: message.id })'} Settings
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %span.caret
            %span.sr-only Toggle Dropdown
          %ul.dropdown-menu
            %li
              %a{:href => "", 'ng-click' => 'sendFollowUpTest(message.id)'} Send a test
            %li.divider{:role => "separator"}
            %li
              %a{:href => "", 'ng-click' => 'openModal(message)'} Destroy


